@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif; }

body {
  width: 100%;
  background-color: #fff3df; }

header p {
  font-family: 'Mate SC', serif;
  font-size: 30px;
  text-align: center;
  color: black;
  height: 80px;
  padding-top: 12.5px; }

p {
  font-family: 'Bitter', serif;
  font-size: 1rem;
  text-align: center;
  color: black; }

#sectionHome {
  grid-area: contenidoHome;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.contenidoHome {
  display: grid;
  align-items: center;
  justify-items: center; }

.contenidoTrabajos {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem; }

#introTrabajos {
  grid-area: introTrabajos; }

.img {
  width: auto;
  height: auto;
  filter: brightness(80%); }

.imgtrabajo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #443c0d;
  padding: 5px;
  border: 1px solid rgba(115, 141, 160, 0.22);
  background-color: white; }

.img:hover {
  filter: brightness(110%); }

.test {
  font-style: italic; }

.img1 {
  grid-area: img1; }

.test1 {
  grid-area: test1; }

.img2 {
  grid-area: img2; }

.test2 {
  grid-area: test2; }

.img3 {
  grid-area: img3; }

.test3 {
  grid-area: test3; }

/* servicios- */
.contenedorServicio {
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.cajaSmadre {
  margin-top: 2rem;
  align-items: center;
  justify-content: center; }

#cloud:after {
  width: 180px;
  height: 130px;
  top: -50px;
  left: 60px;
  border-radius: 100px;
  border-top: solid 1px lightblue; }

#cloud:before {
  width: 250px;
  height: 180px;
  top: -70px;
  right: 50px;
  border-radius: 200px;
  border-top: solid 1px lightblue; }

#cloud:after, #cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1; }

#cloud {
  width: 500px;
  height: 150px;
  background: #BFF;
  background: linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -webkit-linear-gradient(top, #FFF 1%, lightblue 100%);
  background: -moz-linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -ms-linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -o-linear-gradient(top, lightblue 5%, #DFF 100%);
  top: 0px;
  left: 0px;
  border-radius: 100px;
  position: relative;
  margin: 120px auto 20px;
  border-bottom: solid 3px black; }

.shadow {
  width: 350px;
  position: absolute;
  bottom: -10px;
  background: #000;
  z-index: -1;
  box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
  border-radius: 50%; }

.tituloServ {
  position: relative; }

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  margin-top: 0;
  padding-top: 1.5rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0;
  font-family: "Tillana"; }

.cajaS {
  position: relative;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 5%;
  transition: all 300ms; }
  .cajaS .svg, .cajaS h4, .cajaS p {
    position: relative;
    z-index: 1;
    transition: all 300ms; }
  .cajaS h4 {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 700; }
  .cajaS p {
    transform: translatey(200px);
    color: #60544b; }
  .cajaS .fondo-hover {
    width: 3rem;
    height: 3rem;
    background: linear-gradient(to bottom, #9b9b94, black);
    position: absolute;
    border-radius: 100%;
    left: 45%;
    top: -30%;
    transition: all 300ms;
    cursor: pointer; }
  .cajaS:hover {
    box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5); }
    .cajaS:hover .fondo-hover {
      width: 35rem;
      height: 35rem;
      top: -35%;
      left: -23%;
      border-radius: 35%; }
    .cajaS:hover .cajaS2 {
      transform: translatey(30px); }
    .cajaS:hover .svg {
      height: 6rem;
      width: 6rem;
      margin-top: 1rem; }
    .cajaS:hover h4 {
      margin-top: 10px;
      font-style: bold;
      color: gold;
      font-weight: 400; }
    .cajaS:hover p {
      color: white;
      transform: translatey(0%); }

.cajaS1 .fondo-hover, .cajaS3 .fondo-hover {
  left: 45%;
  top: 100%; }

.cajaS1 p {
  margin-top: 1rem; }

.svg {
  height: 7rem;
  width: 7rem;
  margin-top: 2rem; }

/* fin servicios */
#formularioConsulta {
  flex-direction: column;
  margin-top: 15%;
  margin-bottom: 15%; }

#tipoConsulta {
  max-width: 300px;
  max-height: 3rem; }

#consultaFormulario {
  min-height: 70px; }

footer {
  width: 100%;
  padding: 50px 0px;
  *background-image: url(../assets/svg/background-footer.svg);
  *background-size: cover;
  background-color: lightblue;
  -webkit-mask-image: url(../assets/svg/background-footer.svg);
  mask-image: url(../assets/svg/background-footer.svg);
  -webkit-mask-size: cover; }

.pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px; }

.pie__caja {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.pie__logo {
  text-align: center; }

.pie__caja .pie__logo img {
  width: 180px;
  margin: auto;
  transform: translateY(-20px); }

.pie__caja .pie__terms {
  max-width: 350px;
  margin-top: 20px; }

.pie__caja .pie__terms p {
  font-weight: 500;
  color: #7a7a7a;
  font-size: 12px; }

.pie__caja h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700; }

.pie__caja a {
  text-decoration: none;
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600; }

.pie__caja a:hover {
  opacity: 0.8; }

.pie_caja a .fab {
  font-size: 20px; }

.pie__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.pie__copyright p {
  margin-top: 20px;
  color: #7a7a7a; }

.pie__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a; }

/* moviles pequeños */
@media only screen and (max-width: 600px) {
  header {
    height: 150px; }
  .contenidoHome {
    height: auto;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  .contenidoTrabajos {
    margin: 5% 5% 5% 5%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(3, 2fr 1fr);
    grid-template-areas: "introTrabajos" "img1" "test1" "img2" "test2" "img3" "test3"; }
  .test {
    margin-bottom: 60px; } }

/* tablets )? */
@media only screen and (min-width: 600px) {
  header {
    height: 100px; }
  .contenidoHome {
    height: 900px;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  #formularioConsulta {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 20%; }
  .contenidoTrabajos {
    margin: 5% 10% 10% 5%;
    height: 1400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr 2fr;
    grid-template-areas: "introTrabajos introTrabajos" "img1 test1" "test2 img2" "img3 test3"; } }

/* escritorios peque )? */
@media only screen and (min-width: 770px) {
  .contenedorServicio {
    height: 700px; }
  .cajaS2 {
    transform: translateY(30px); } }

@media only screen and (min-width: 796px) {
  .contenidoHome {
    height: 750px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  .contenidoTrabajos {
    margin: 5% 15% 5% 15%;
    height: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 4fr 4fr 4fr;
    grid-template-areas: "introTrabajos introTrabajos introTrabajos" "img1 test1 test1" "test2 test2 img2" "img3 test3 test3"; } }
