@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Bitter', serif; }

body {
  width: 100%;
  background-color: #fff3df; }

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.2)); }

h3 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Tillana";
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.2)); }

p {
  font-family: 'Bitter', serif;
  font-size: 1rem;
  text-align: center;
  color: black; }

.apretar__nav {
  height: 70px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: #8ac6da;
  color: black;
  font-size: 14px; }

.apretar__logo {
  height: 60px;
  transition: all 300ms; }

.mover__contenido {
  right: 180px !important; }

.mover__nav {
  right: 0px !important; }

.contenedorDeTodo {
  position: relative;
  right: 0px;
  transition: all 300ms;
  margin-top: 130px;
  height: auto; }

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;
  background: white; }

.contenedor__header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px; }
  .contenedor__header__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms; }
    .contenedor__header__logo h1 {
      font-size: 1.5rem;
      font-family: "Permanent Marker";
      font-weight: 500;
      margin: auto; }
    .contenedor__header__logo img {
      height: 95%;
      transition: all 300ms; }

.contenedor__header__contenedorNav {
  position: relative;
  height: 100%; }

.contenedor__header__nav {
  height: 100%; }

.contenedor__header__ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor__header__li {
  margin: 0 14px;
  list-style: none; }
  .contenedor__header__li a {
    color: #1e1e1efe;
    font-size: 16px;
    text-decoration: none;
    font-family: "Bitter", serif;
    font-weight: 500;
    transition: all 300ms; }
    .contenedor__header__li a:hover {
      background: #359df9b1;
      padding: 10px 35px;
      color: white;
      border-radius: 20px; }
  .contenedor__header__li .select {
    background: #359ef9;
    padding: 10px 35px;
    color: white;
    border-radius: 20px; }

.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 300ms;
  display: none; }
  .btn__menu:hover {
    background: #359ef9;
    color: white; }

footer {
  width: 100%;
  padding: 50px 0px;
  *background-image: url(../assets/svg/background-footer.svg);
  *background-size: cover;
  background-color: lightblue;
  -webkit-mask-image: url(../assets/svg/background-footer.svg);
  mask-image: url(../assets/svg/background-footer.svg);
  -webkit-mask-size: cover; }

.pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px; }
  .pie__caja {
    display: flex;
    flex-direction: column;
    padding: 40px; }
    .pie__caja h2 {
      margin-bottom: 30px;
      color: #343434;
      font-weight: 700; }
    .pie__caja a {
      text-decoration: none;
      margin-top: 10px;
      color: #7a7a7a;
      font-weight: 600; }
      .pie__caja a:hover {
        opacity: 0.8; }
      .pie__caja a .fab {
        font-size: 20px; }
  .pie__terms {
    text-align: center; }
  .pie__logo {
    text-align: center; }
  .pie__caja .pie__logo img {
    width: 180px;
    margin: auto; }
  .pie__caja .pie__terms {
    max-width: 350px;
    margin-top: 20px; }
    .pie__caja .pie__terms p {
      font-weight: 500;
      color: #7a7a7a;
      font-size: 12px; }
  .pie__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
    .pie__copyright p {
      margin-top: 20px;
      color: #7a7a7a; }
    .pie__copyright hr {
      border: none;
      height: 1px;
      background-color: #7a7a7a; }

.portada {
  width: 100%;
  padding-bottom: 60px;
  margin-top: 100px; }
  .portada__contenedor {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative; }
  .portada__presentacion {
    max-width: 500px;
    margin-top: 40px;
    z-index: 2; }
    .portada__presentacion h2 {
      max-width: 400px;
      font-size: 60px;
      font-weight: 900;
      color: #373737; }
    .portada__presentacion h3 {
      font-size: 60px;
      font-weight: 900;
      color: #feba0b;
      margin-top: -30px; }
    .portada__presentacion p {
      margin-top: 10px;
      color: #373737;
      text-align: start; }
    .portada__presentacion input[type="button"] {
      padding: 10px 40px;
      margin-top: 40px;
      font-size: 18px;
      font-family: "Tillana";
      border: none;
      color: white;
      background: #feba0b;
      border-radius: 20px;
      box-shadow: 1px 1px 30px -5px #20202049;
      cursor: pointer;
      transition: all 500ms; }
      .portada__presentacion input[type="button"]:hover {
        box-shadow: 0px 0px 30px 10px #20202049; }
  .portada__svg {
    position: relative; }
    .portada__svg img {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 600px;
      animation: mover__portada 6s ease-in-out infinite;
      transition: all 300ms;
      filter: drop-shadow(-3px 20px 20px #37373780); }

@keyframes mover__portada {
  0% {
    transform: translateY(10px); }
  25% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }

.contenidoTrabajos {
  max-width: 1200px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  transition: all 300ms; }

#introTrabajos {
  grid-area: introTrabajos;
  margin: auto 10%; }
  #introTrabajos h2 {
    font-size: 70px;
    color: #feba0b;
    text-align: start;
    font-weight: 900; }
  #introTrabajos p {
    color: #373737;
    margin: auto;
    margin-top: 15px;
    text-align: start;
    max-width: 1000px; }

.img {
  width: auto;
  height: auto;
  filter: brightness(80%); }

.imgtrabajo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #443c0d;
  padding: 5px;
  border: 1px solid rgba(115, 141, 160, 0.22);
  background-color: white; }

.img:hover {
  filter: brightness(110%); }

.test {
  font-style: italic; }

.img1 {
  grid-area: img1; }

.test1 {
  grid-area: test1; }

.img2 {
  grid-area: img2; }

.test2 {
  grid-area: test2; }

.img3 {
  grid-area: img3; }

.test3 {
  grid-area: test3; }

.contenedorServicio {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.cajaSmadre {
  margin-top: 2rem;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center; }

#cloud:after {
  width: 180px;
  height: 130px;
  top: -50px;
  left: 60px;
  border-radius: 100px;
  border-top: solid 1px lightblue; }

#cloud:before {
  width: 250px;
  height: 180px;
  top: -70px;
  right: 50px;
  border-radius: 200px;
  border-top: solid 1px lightblue; }

#cloud:after, #cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1; }

#cloud {
  width: 500px;
  height: 150px;
  background: #BFF;
  background: linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -webkit-linear-gradient(top, #FFF 1%, lightblue 100%);
  background: -moz-linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -ms-linear-gradient(top, lightblue 5%, #DFF 100%);
  background: -o-linear-gradient(top, lightblue 5%, #DFF 100%);
  top: 0px;
  left: 0px;
  border-radius: 100px;
  position: relative;
  margin: 120px auto 20px;
  border-bottom: solid 3px black; }

.shadow {
  width: 350px;
  position: absolute;
  bottom: -10px;
  background: #000;
  z-index: -1;
  box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.4);
  border-radius: 50%; }

.tituloServ {
  position: relative;
  color: #373737; }
  .tituloServ .titulo {
    padding-top: 15px; }
  .tituloServ .textoServ {
    font-size: 1.5rem;
    padding-top: 20px; }

.cajaS {
  position: relative;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 50px;
  transition: all 300ms; }
  .cajaS .svg, .cajaS h4, .cajaS p {
    position: relative;
    z-index: 1;
    transition: all 300ms;
    filter: drop-shadow(5px 7px 2px rgba(0, 0, 0, 0.3)); }
  .cajaS h4 {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 700;
    color: black; }
  .cajaS p {
    transform: translatey(200px);
    color: #60544b; }
  .cajaS .fondo-hover {
    width: 3rem;
    height: 3rem;
    background: linear-gradient(to bottom, #9b9b94, black);
    position: absolute;
    border-radius: 100%;
    left: 45%;
    top: -30%;
    transition: all 300ms;
    cursor: pointer; }
  .cajaS:hover {
    box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5); }
    .cajaS:hover .fondo-hover {
      width: 35rem;
      height: 35rem;
      top: -35%;
      left: -23%;
      border-radius: 35%; }
    .cajaS:hover .cajaS2 {
      transform: translatey(30px); }
    .cajaS:hover .svg, .cajaS:hover h4 {
      filter: drop-shadow(0px 0px 5px #cbf0fc); }
    .cajaS:hover .svg {
      height: 6rem;
      width: 6rem;
      margin-top: 1rem; }
    .cajaS:hover h4 {
      margin-top: 10px;
      font-style: bold;
      color: gold;
      font-weight: 400; }
    .cajaS:hover p {
      color: white;
      transform: translatey(0%); }

.cajaS1 .fondo-hover, .cajaS3 .fondo-hover {
  left: 45%;
  top: 100%; }

.cajaS1 p {
  margin-top: 1rem; }

.svg {
  height: 7rem;
  width: 7rem;
  margin-top: 2rem; }

.cabezaGaleria {
  width: 100%;
  max-width: 1200;
  padding-bottom: 60px; }
  .cabezaGaleria__contenedor {
    max-width: 1200px;
    margin: auto 10%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative; }
  .cabezaGaleria__presentacion {
    max-width: 600px;
    margin-top: 40px;
    z-index: 2; }
    .cabezaGaleria__presentacion h2 {
      max-width: 500px;
      font-size: 50px;
      font-family: "Permanent Marker", cursive;
      color: #373737;
      font-weight: 900; }
    .cabezaGaleria__presentacion h3 {
      font-weight: 900;
      font-family: "Tillana";
      margin-top: -15px;
      font-size: 50px;
      color: #feba0b;
      line-height: 40px; }
    .cabezaGaleria__presentacion p {
      margin-top: 30px;
      color: #373737;
      text-align: start; }
  .cabezaGaleria__svg {
    position: relative; }
    .cabezaGaleria__svg img {
      position: absolute;
      right: 0px;
      opacity: 0;
      transition: all 300ms;
      filter: drop-shadow(-3px 20px 20px #abf1fd); }

.galeria {
  background: linear-gradient(white, lightblue);
  border-radius: 20px;
  display: grid;
  padding: 20px;
  grid-gap: 25px;
  max-width: 1200px;
  margin: 35px 10%;
  position: relative;
  transition: all 300ms; }
  .galeria__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden; }
  .galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    position: absolute;
    transition: all 1.5s ease-in-out; }
    .galeria__img__top:hover {
      opacity: 0;
      filter: blur(100px); }
  .galeria__titulo {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), black);
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Tillana';
    font-size: 1rem; }

#formularioConsulta {
  flex-direction: column;
  margin-top: 15%;
  margin-bottom: 15%; }
  #formularioConsulta h2 {
    font-size: 2.5rem; }
  #formularioConsulta label {
    font-family: 'Tillana'; }
  #formularioConsulta .consultaF {
    font-size: 1.5rem;
    font-weight: 500; }
  #formularioConsulta button {
    border-radius: 20px;
    margin: 20px 10px;
    height: 60px;
    font-size: 1.5rem;
    font-family: 'Tillana';
    font-weight: 600;
    background: #359ef9; }

#tipoConsulta {
  max-width: 300px;
  max-height: 3rem; }

#consultaFormulario {
  min-height: 70px; }

@media only screen and (max-width: 900px) {
  .contenedor__header__contenedorNav {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedor__header__contenedorNav nav {
      height: 100%;
      background: linear-gradient(to bottom, #8ac6da, lightblue);
      position: fixed;
      top: 0;
      right: -180px;
      padding: 0 20px;
      transition: all 300ms; }
  .btn__menu {
    display: flex; }
  .contenedor__header__ul {
    flex-direction: column;
    justify-content: space-evenly; }
  .contenedor__header__li {
    margin: 20px 0px; } }

/* moviles pequeños */
@media only screen and (max-width: 767px) {
  .contenidoHome {
    height: auto;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  .contenidoTrabajos {
    margin: 5% 5% 5% 5%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(3, 2fr 1fr);
    grid-template-areas: "introTrabajos" "img1" "test1" "img2" "test2" "img3" "test3"; }
  .test {
    margin-bottom: 60px; } }

@media only screen and (max-width: 600px) {
  .galeria {
    display: flex;
    flex-direction: column;
    margin: 100px 8%; }
    .galeria__item {
      height: 800px;
      width: auto; }
    .galeria__img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .galeria__item:nth-child(4) {
      height: 350px; }
    .galeria__item:nth-child(5) {
      height: 450px; }
    .galeria__item:nth-child(6) {
      height: 400px; }
  .cabezaGaleria__svg img {
    opacity: 0;
    top: 200px;
    height: 0px; } }

@media only screen and (min-width: 600px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px; }
    .galeria__item:nth-child(1) {
      grid-row-start: span 2; }
    .galeria__item:nth-child(4) {
      grid-column-start: span 2; }
    .galeria__item:nth-child(8) {
      grid-row: 3/5;
      grid-column: 3; } }

/* tablets )? */
@media only screen and (min-width: 767px) {
  .contenidoHome {
    height: 900px;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  .cajaS2 {
    transform: translateY(30px); }
  .cajaS3 {
    transform: translateY(10px); }
  #formularioConsulta {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 20%; }
  .contenidoTrabajos {
    margin: 5% 10% 10% 5%;
    height: 1400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr 2fr;
    grid-template-areas: "introTrabajos introTrabajos" "img1 test1" "test2 img2" "img3 test3"; }
  .cabezaGaleria__svg img {
    opacity: 0;
    top: 200px;
    height: 0px; } }

@media only screen and (min-width: 830px) {
  .contenidoHome {
    height: 750px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: ". . ." ". contenidoHome ." ". . ."; }
  .contenidoTrabajos {
    margin: 5% 15% 5% 15%;
    height: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 4fr 4fr 4fr;
    grid-template-areas: "introTrabajos introTrabajos introTrabajos" "img1 test1 test1" "test2 test2 img2" "img3 test3 test3"; }
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    margin: 100px auto;
    grid-gap: 35px;
    padding: 30px; }
  .galeria__item:nth-child(1) {
    grid-row-start: span 3; }
  .galeria__item:nth-child(2) {
    grid-column: 4;
    grid-row: 1 / 3; }
  .galeria__item:nth-child(4) {
    grid-column: 4;
    grid-row: 3; }
  .galeria__item:nth-child(5) {
    grid-column: 3;
    grid-row: 1; }
  .galeria__item:nth-child(6) {
    grid-column: 2/4;
    grid-row: 2/4; }
  .galeria__item:nth-child(7) {
    grid-row-start: span 2; }
  .galeria__item:nth-child(8) {
    grid-column: 3/5;
    grid-row: 4/6; }
  .galeria__item:nth-child(9) {
    grid-column: 2;
    grid-row: 4/6; }
  .cabezaGaleria__svg img {
    height: 200px;
    top: 100px;
    opacity: .5; } }

@media only screen and (min-width: 990px) {
  .cabezaGaleria__svg img {
    height: 300px;
    top: 0px;
    opacity: 1; }
  .cabezaGaleria__contenedor {
    margin: auto; } }
