// Variables Generales
$cFondo: rgb(255, 243, 223);
$cLetraBase: black;
$LetraTitulos1: 'Permanent Marker', cursive;
$LetraTitulos2: 'Tillana';

// Variables Nav
$LetraNav: 'Bitter', serif;
$cLetraNav: #1e1e1efe;
$cLetraNavHover:white;
$cLetraTitulos1: #373737;
$cLetraTitulos2: #feba0b;

// Colores del Header
$cLetraHeader: black;

// Colores del Footer
$cFondoFooter: black