// Colores Generales
$cFondo: rgb(255, 243, 223);
$cLetraBase: black;

// Colores del Nav
$cNav: black;
$cLetraNav: gold;
$cLetraNavHover:rgb(242, 230, 165);


// Colores del Header
$cLetraHeader: black;

// Colores del Footer
$cFondoFooter: black